* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

body {
    display: grid;
}

/* INICIO DO TOPO */
.topo {

    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topo h2 {
    margin: 0 70px 0;
    color: #D2872C;
    font-size: 17pt
}

.menu {
    width: auto;
    height: auto;
}


.menu ul {
    list-style: none;
    width: 350px;
    float: right;
    margin: 0;
}

.menu ul li {
    float: left;
    padding: 10px;
    text-align: end;
}

.menu ul li a {
    text-decoration: none;
    color: #766F68;
    font-size: 15pt
}



/* FIM DO INICIO DO TOPO*/

/* INICIO DO COMTEUDO */

.conteudo {
    display: flex;
    justify-content: space-around;
}

.texto {
    width: 450px;
    height: auto;
    position: relative;
    top: 50px;
    left: 90px;
    z-index: 1;
}

.texto h1 {
    font-size: 45pt;
    font-weight: 600;
    margin: 0;
    padding: 5px;
    color: #766F68;
}

.texto p {
    font-size: 15.8pt;
    font-family: monospace;
    color: #766F68;
}

.img {
    position: relative;
    top: 60px;
    right: 70px;
    margin: 0;
    z-index: 0;
}

.img img {
    position: relative;
    right: 15px;
    width: 830px;
    height: 450px;
}

.conteudo button {
    position: relative;
    top: 50px;
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #D2872C;
    color: #fff;
    font-size: 14pt
}

/* FIM DO CONTEUDO */

/* INICIO DA RESPONSIVIDADE */
@media only screen and (max-width: 768px) {
   

    .menu ul {
        list-style: none;
        width: 150px;
        float: right;
        margin: 0;
        visibility: hidden;
    }

    .menu ul li::before {
        background: blue;

    }

    .menu ul li a {
        text-decoration: none;
        color: #766F68;
        font-size: 10pt
    }

    /* MENU HAMBUEGUER*/
    .menu-btn {
        position: relative;
        left: 90px;
        top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        transition: all .5s ease-in-out;
    }

    .menu-btn_burger {
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn_burger::before,
    .menu-btn_burger::after {
        content: "";
        position: absolute;
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
        transition: all .5s ease-in-out;
    }

    .menu-btn_burger::before {
        transform: translateY(-10px);
    }

    .menu-btn_burger::after {
        transform: translateY(10px);
    }

    /*INICIO DA AXIMAÇÃO */
    .menu-btn.open .menu-btn_burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }

    .menu-btn.open .menu-btn_burger::before {
        transform: rotate(45deg) translate(35px, -35px);
    }

    .menu-btn.open .menu-btn_burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
    }

    /* FIM DA ANIMAÇÃO */
    /* FIM DO MENU HAMBURGER */
    .conteudo {
        height: auto;
        margin-bottom: 250px;
        display: flex;
        justify-content: space-around;
        justify-items: center;
        flex-wrap: wrap-reverse;
    }

    .texto {
        width: 250px;
        height: auto;
        position: relative;
        top: 50px;
        left: 0;
        z-index: 1;
    }


    .texto h1 {
        font-size: 25pt;
        font-weight: 600;
        text-align: center;
        padding: 5px;
        color: #766F68;
    }

    .texto p {
        margin: 10px 0;
        font-size: 14pt;
        text-align: center;
        font-family: monospace;
        color: #766F68;
    }

    .img {
        position: relative;
        margin: 0 25px 0 25px;
        top: 60px;
        right: 0;
        margin: 0;
        z-index: 0;
    }

    .img img {
        position: relative;
        right: 15px;
        width: 410px;
        height: 250px;
    }
}
